* {
    margin: 0px;
    padding: 0px;
}

/* Styles for banner section */
.banner-section {
    width: 100%;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head {
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 10px;
}

.image {
    padding-top: 80px;
}

.btn {
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: white;
}

.paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-bottom: 10px;
}
/* Styles For Feature Section */
.feature-heading {
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 25px;
}

.feature-heading h1 {
    font-size: 40px;
    font-weight: 800;
}

.heading-paragraph {
    padding-top: 55px;
}

.first-flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.second-flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.third-flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.flower-image{
    padding: 110px 78px 0px 76px;
}
.feature-flower{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.support-section{
    width: 70%;
    height: 250px;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}
.logo{
    width: 88px;
    height: 88px;
}