* {
    margin: 0px;
    padding: 0px;
}

/* Styles for banner section */
.banner-section {
    width: 100%;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head {
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 10px;
}

.image {
    padding-top: 80px;
}

.btn {
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: white;
}

.paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-bottom: 10px;
}

/* Styles For Feature Section */
.feature-heading {
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 25px;
}

.feature-heading h1 {
    font-size: 40px;
    font-weight: 800;
}

.heading-paragraph {
    padding-top: 55px;
}

.first-flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.second-flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.third-flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flower-image {
    padding: 110px 78px 0px 76px;
}

.feature-flower {
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.support-section {
    width: 70%;
    height: 250px;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}

.logo {
    width: 88px;
    height: 88px;
}

/* Style For Hot Deal Section */
.hot-deal {
    margin-top: 80px;
    width: 100%;
    height: 520px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pink {
    color: rgb(255, 87, 115);
}

.deal-info h1 {
    font-size: 40px;
    color: #272727;
    padding-bottom: 15px;
}

.image-deal {
    width: 280px;
    height: 320px;
}

.deal-info p {
    padding-bottom: 15px;
}

/* Styles For Instagram section */
.instagram-heading{
    text-align: center;
}
.instagram-section h1 {
    font-size: 40px;
    font-weight: 800;
    padding: 55px 0 25px 0;
}
.instagram-section p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-bottom: 25px;
}
.instagram-photo{
    height: 150px;
}
.instagram-photos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.subscribe-section{
    margin-top: 380px;
    margin-left: 17%;
    width: 70%;
    height: 370px;
    background-image: url("/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.subscribe-section h1{
    font-size: 40px;
    color: #272727;
    text-align: center;
    padding-top: 80px;
    font-weight: 800;
}
.subscribe-section p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 30px;
}
.input{
    padding: 20px 250px 20px 20px;
}
.footer-container{
    width: 100%;
    height: 350px;
    margin-top: 100px;
    background-color: #272727;
}
.footer-info{
    color: white;
    text-align: center;
    padding-top: 100px;
}
.footer-info h1{
    font-size: 48px;
    padding-bottom: 20px;
}
.footer-info p{
    font-size: 18px;
    padding-bottom: 20px;
    color: rgba(230, 227, 227, 0.6);
}
.hr{
    width: 60%;
    margin: auto;
}
.flower{
    color: rgb(255, 89, 117);
}